@mixin img_bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@mixin my_btn {
  letter-spacing: 1px;
  background-color: $btn_bg;
  color: white;
  font-weight: 500;
  transition: all 0.3s;
  text-transform: capitalize;
  &:hover {
    background-color: $btn_hover;
    color: white;
  }
}
@mixin my_btn2 {
  letter-spacing: 1px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: 500;
  transition: all 0.3s;
  text-transform: capitalize;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  &:hover {
    border: 2px solid $btn_bg;
    background-color: $btn_bg;
    color: white;
  }
}
